table.table {
  border-collapse: collapse;
  width: 100%;

  margin-top: 100px;

  user-select: none;

  th,
  td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;

    img {
      height: 100px;
      width: 100px;
      object-fit: cover;
    }
  }



  tr:not(.table__head):not(.table__no-click)
  {
    &:hover {
      background: var(--accent-100);
    }

    cursor: pointer;
  }
}
