table {
  border-collapse: collapse;
  width: 100%;

  margin-top: 100px
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  cursor: pointer;

  img
  {
    height: 100px;
    width: 100px;
    object-fit: cover;
  }
}

tr:hover {
  background: var(--accent-100);
}


